*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(66, 165, 245);
}
div.filhas{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 202, 40);
    position: absolute;
}
div#top-left{
    top:0;
    left: 0;
}
div#top-right{
    top: 0;
    right: 0;
}
div#bottom-right{
    bottom: 0;
    right: 0;
}
div#bottom-left{
    bottom: 0;
    left: 0;
}